*{
    background-color: rgb(255,253,208);
    font-family: monospace,sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h1{
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-radius: 20px;
}

h3,
h4{
    font-weight: bold;
    font-size: 22px;
    padding:20px;
    margin:20px;
    border-style: solid;
    border-radius: 20px;
}

a {
    color:rgb(229,39,79);
    font-weight: 500;
}

img{
    height: 270px;
    width: 350px;
    border-style: solid;
    border-radius: 20px;
    border: 20px;
    padding-left: 20px;
}

ul{
    list-style-type: circle ;
}

ol{
    list-style-type: disc;
}
p{
    padding-bottom: 0px;
    padding-left: 20px;
}
footer{
    padding: 20px;
    font-size: 20px;
}
#page-curry,
#page-lassi,
#page-momo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}